.daily-forecast__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.daily-forecast__time {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}

.daily-forecast_humidity {
  font-size: 16px;
  font-weight: bolder;
}

.daily-forecast__temp {
  font-size: 24px;
  color: #61dafb;
  font-weight: normal;
}